header.masthead {
  position:relative;
  background:url(../img/bg-masthead.jpg) no-repeat center center;
  background-size:cover;
}

@media (min-width:768px) {
  header.masthead {
    padding-top:3rem;
    padding-bottom:11rem;
  }
}

footer.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ol {
  text-align: left;
}

ul {
  list-style-type: none;
  text-align: left;
}

.display {
  color: black;
}

a {
  display: block;
  cursor: pointer;
}

a:hover { 
  background-color: #E0E0E0;
}