{% extends "layout.html" %}
{% block content %}
<!-- Masthead -->
<header class="masthead text-white text-center">
<div class="overlay"></div>
<div class="container">
  <div class="row">
	<div class="col-xl-9 mx-auto">
	  <h1 class="mb-5">HR Policies Graph Based Search</h1>
	</div>
	<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
	  <form 
	  id="searchbar"
	  v-on:submit.prevent="search"
	  >
		<div class="form-row">
		  <div class="col-12 col-md-9 mb-2 mb-md-0">
			<input name="query" v-model="query" class="form-control form-control-lg" placeholder="Enter your query" required>
		  </div>
		  <div class="col-12 col-md-3">
			<button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
		  </div>
		</div>
		<br><br>

		<div class="card">
			<p v-for="(row, index) in predicted_policies">
				[[ row ]]
			</p>
		</div>

		<template v-if="showpolicytable">
		<table id="policytable" class="table table-bordered table-hover">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Policy</th>
			</tr>
		  </thead>
		  <tbody>
			<tr v-on:click="get_related" class="table-light" v-for="(row, index) in results">
			  <th scope="row">[[ index + 1 ]]</th>
			  <td style="cursor: pointer;">[[ row.policy.name ]]</td>
			</tr>
		  </tbody>
		</table>

		<div class="card">
		  <div class="card-body">
			<h4 id="policyname" class="card-title">Policy Info</h4>
			<hr color="black">
			<div>
				<ul>			
					<li id="policyinfo" class="card-text" v-for="(value, key) in policyinfodata">
						<b>[[ key.charAt(0).toUpperCase() + key.slice(1).toLowerCase() ]]</b>: [[ value ]]
					</li>
				</ul>
			</div>
			<h5>[[ topictitle ]]</h5>
			<hr color="black">
			<div v-for="(value) in relatedinfodata">
				<a @click="value.open = !value.open" v-text="value.name"></a>
				<ul v-show="value.open">
				  	<p style="font-size:12px;" v-for="item in value.items" v-text="item"></p>
				</ul>
				<hr>
			</div>						
			<div>		
				<a href="http://www.hr.uct.ac.za/hr/policies/HR_policies" class="card-link" target="_blank">HR Policies</a>
			</div>
		  </div>
		</div>
		</template>
	  </form>	  
	</div>
  </div>
</div>
</header>
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	<script>
		var searchbar = new Vue({
			el: '#searchbar', //element name
			delimiters: ['[[', ']]'], //to prevent syntax error with jinja
			data: {
				query: '', 
				results: '', 
				showpolicytable: false, 
				policyinfodata: '', 
				relatedinfodata: '', 
				topictitle: '',
				predicted_policies: ''
			},
			mounted:function(){
        		this.recommend() //method1 will execute at pageload
  			},			
			methods: { // define methods under the `methods` object
				search: function() { //search method
					this.$http.post('/search', { //post request
						query: this.query //post query to flask
					})
					.then(function(response) {
						this.showpolicytable = true; //show table to user
						this.results = response.data.results; //set post response as results
					})
					.catch(function (error) { //error callback
						console.log(response.data);
					});
				},
				get_related: function(e) { //get related method
					var element = e.target; //retrieve element
					policyname = $(element).text();
					document.getElementById("policyname").innerHTML = policyname; //set title
					policyname = encodeURIComponent(policyname); //encode special symbols
					$.get('/get_related/?name=' + policyname + '&label=Person' , function(data, status){
						policyinforesults = data.results;
						if (policyinforesults != null) {
							this.policyinfodata = data.results;
						} else {
							this.policyinfodata = ''; //reset
						}
					}.bind(this));
					
					$.get('/get_related/?name=' + policyname + '&label=RelatedTerm' , function(data, status){
						relatedinforesults = data.results;
						textlist = data.textlist;

						if (relatedinforesults != null) {
							value = relatedinforesults['RELATED'];
							names = value.split(", ");

							var list = [];
							for (var i = 0; i < names.length; i++){
								var name = {
								    "name": names[i],
								    "open": false,
								    "items": [
								      textlist[i]
								    ]
								};
								list.push(name);
							};

							this.relatedinfodata = list;
							this.topictitle = 'Related Topics';
						} else {
							this.relatedinfodata = ''; //reset
							this.topictitle = ''; //reset
						}		
					}.bind(this));			
				},
				recommend: function() { //recommend method
					$.get('/recommend/', function(data, status){
						this.predicted_policies = data.results;
					}.bind(this));
				}							
			}
		})		
	</script>
{% endblock %}